@use 'globals';
@use 'flex';

$site-width: 200px;
$site-height: 300px;
$site-bdrs: 10px;

.site-wrapper {
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.site {
  & {
    background: globals.$light-grey;
    outline: none;

    border: none;
    border-radius: $site-bdrs;
    width: $site-width;
    height: $site-height;
    flex: 0 0 $site-width;

    @include flex.centre();
  }

  &-summary {
    flex-direction: column;

    * {
      transition: 250ms;
    }

    img {
      border-radius: $site-bdrs $site-bdrs 0 0;
      width: $site-width;
      height: $site-width;
    }

    div {
      margin-top: -7px;
      width: $site-width;
      height: $site-height - $site-width;

      @include flex.centre();
    }
  }

  &-info { display: none; }
}

.site:focus {
  width: $site-width * 3;

  .site-summary {
    width: $site-width * 2.5;
    display: flex;
    flex-direction: row;

    img {
      border-radius: 0;
      width: $site-width * 0.5;
      height: $site-width * 0.5;
    }

    div {
      margin-top: 0;
    }
  }

  .site-info {
    height: 100%;
    display: block;
  }
}